    ol, ul {  
      list-style: none;
      padding: 0;
      margin: 0;
    } 
    .d-ctrad {
          position: relative;
              overflow: hidden;
                  width: 100%;
    }
    .d-ctrad ul {
          width: 3000px;
              overflow: hidden;
    }
    .d-ctrad ul li {
          width: auto;
    }
    .d-ctrad ul li {
          float: left;
              position: relative;
    }

    .d-ctrad ul img {
          width: 100%;
              display: block;
                  height: 140px;
    }

    .d-ctrad ul h3 {
      margin: 0;
          position: absolute;
              bottom: 0;
                  left: 0;
                      height: 30px;
                          line-height: 30px;
                              width: 100%;
                                  background-color: rgba(0,0,0,0.6);
    }

    .d-ctrad ul h3 span {
          font-size: 14px;
              color: #fff;
                  padding-left: 10px;
                      width: 180px;
                          display: block;
    }
    .d-ctrad .d-pagenum {
          position: absolute;
              right: 5px;
                  bottom: 12px;
                      height: 5px;
    }
    .d-ctrad .d-pagenum a {
          display: inline-block;
              width: 5px;
                  height: 5px;
                      background-color: #6e6f6c;
                          border-radius: 50%;
                              margin-right: 5px;
                                  text-indent: -999em;
                                      float: left;
    }
    .d-ctrad .d-pagenum a.d-cur {
          background-color: #fff;
    }
